.collapsible {
  display: block;
  background-color: white;
  box-shadow: 0px 32px 72px #0000001f;
  margin-bottom: 1rem;
  min-height: 3rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.trigger {
  color: #666666;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.triangleContainer {
  transition: transform 0.25s ease;
  height: 10px;
  margin-left: 0.25rem;
  position: relative;
  right: 0.25rem;
  transform: rotate(0deg) scaleX(0.75);
  width: 20px;
}

.openIcon {
  transform: rotate(180deg) scaleX(0.75);
}

.collapsibleContent {
  color: #666666;
  margin: 1rem;
}
